/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}

button {
  padding: 1rem 3rem;
  background: #4c6e97;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
}

/* Navbar section & Hero */
.main-head {
  background: #131c27;
  color: white;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style-type: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url('../img/landing-page.jpg');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 2rem;
}
/* LOCATION SECTION */

#location {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("../img/new-york-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.location-head {
  width: 90%;
  margin: auto;
}
.location-head h2 {
  padding: 1rem 0rem;
  font-size: 3.5rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.location-head h3 {
  padding: 2rem 0rem;
  font-size: 2.2rem;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 950px;
}
.moving-cloud-1 {
  animation: CloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  animation: CloudAnimation 3.5s infinite alternate ease-in-out;
  top: 20%;
  z-index: -1;
  opacity: 0.5;
}

@keyframes CloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* BENEFITS SECTION */
.benefits-header {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-header h3 {
  padding: 1rem;
}
.cards img {
  height: 50px;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 25rem;
  margin: 2rem 5rem;
  min-height: 40vh;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1), 0 20px 20px rgb(0, 0, 0, 0.1);
  text-align: center;
}
.card h4,
p {
  padding: 1rem;
}
.card-icons {
  background: #343c44;
  padding: 2rem 0rem;
}

/* FORM SECTION  */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("../img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-head {
  text-align: center;
  padding: 3rem;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.9);
  width: 40%;
  color: white;
  border-radius: 10px;
}
.form-wrapper label {
  margin: 1rem 1rem;
}
.form-wrapper input {
  width: 100%;
  max-width: 250px;
  padding: 1rem 2rem;
}
.name-form,
.email-form {
  text-align: center;
  padding: 2rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* FOOTER SECTION */
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 2rem;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  list-style-type: none;
  flex: 1 1 10rem;
  justify-content: space-between;
  align-items: center;
}
footer h5 {
  flex: 15 1 10rem;
  font-family: "Pattaya", sans-serif;
}

/* MEDIA QUERY */
@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
    font-size: 70%;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 100rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  #location {
    height: 140rem;
  }
}
